<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <style>
      .container {
        margin: 0 auto;
        width: 50%;
        text-align: center;
        padding-top: 100px;
      }
    </style>
  </head>
  <body>
    <div class="container">
      <h1>Welcome to Home Page</h1>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quos cum
        nobis, rerum sint, eius cumque sunt minus unde nam optio doloribus at
        dignissimos. Excepturi in impedit sapiente expedita. Commodi, ducimus.
      </p>
    </div>
  </body>
</html>
